@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-dm-sans), sans-serif;
}

.container {
  @apply min-h-screen p-8;
}

/* .hero h1 {
  @apply text-4xl font-bold mb-8 text-center;
} */

.content {
  @apply grid md:grid-cols-2 gap-8 max-w-6xl mx-auto;
}

.percentage {
  @apply text-6xl font-bold text-blue-600;
}

.primary-color {
  @apply bg-[#1E3A8A];
}

.fa.fa-twitter {
  font-family: sans-serif;
}
.fa.fa-twitter::before {
  content: "ğ•";
  font-size: 1.2em;
}

.bg-gradient-to-l {
  background-image: linear-gradient(
    to left,
    #fff 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}
